@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@400;500&display=swap');


body{
    background: url(../imagenes/portada-bajo-volumen.jpg); 
}

.contenedor-1 h1 i {
    font-family: 'Kaisei HarunoUmi', serif;
    text-align: center;
    color:white;
    line-height: 600px;
}
body.quien_soy {

}

i {
    color: white;
}
.contenerdor2 {
    text-decoration-color: black; 
    font-family: 'Kaisei HarunoUmi', serif;    
}
.contenedor-2 h1 p {
font-family: 'Kaisei HarunoUmi', serif;
text-align: center;
color:white;
line-height: 600px;
}
.contenedor-3 h1 h2{
    font-family: 'Kaisei HarunoUmi',
    serif;
    text-align: center;
    color:white;
    line-height: 600px;
}

.contenedor-4 h1 p {
font-family: 'Kaisei HarunoUmi',
serif;
text-align: center;
color:white;
line-height: 600px;

}

.contenedor-5 h1 li{
    font-family: 'Kaisei HarunoUmi',
    serif;
    text-align: center;
    color:white;
    line-height: 600px;
}
.contenedor-6 h1 p {
    font-family: 'Kaisei HarunoUmi',
    serif;
    text-align: center;
    color:white;
    line-height: 600px;

}
.contenedor-7 h1 p {
    
}
.contenedor-8 h1 {
    

}
img {
    width:300px;
    height:auto;
    display: block;
    margin: auto;
    border-radius: 50%;
}

i {
    color: white;
}

a {
    text-decoration: none;
}

nav a {
font-family: 'Kaisei HarunoUmi', serif;
text-align: center;
color: white;
}

#quien_soy{
    text-align: center;
}

h1, h2, p, li{
    color: white;
}

