@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@400;500&display=swap');

body.portada {
    background-image: url(../imagenes/portada-principal.jpg);
    font-family: 'Kaisei HarunoUmi', serif;
    text-align: center;
}

body.esta_soy_yo {
    text-decoration-color: black; 
    font-family: 'Kaisei HarunoUmi', serif;    
}

body.que_me_hace_unica {
    text-align: center;
}


h1 {
    color: black;
    text-align: initial;

}
p, ul, li {
    color: black;
}

a {
    text-decoration: none;
}

nav a {
color: white;
}


