@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@400;500&display=swap');

body{
    background-color:#1e1f20;
    font-family: 'Kaisei HarunoUmi', serif;
}

h1, h2 {
    color: white;
}

p, ul, li {
    color: white;
}

a{
    text-align: center;
}
